{% extends 'layout.html.twig' %}

{% block content %}
<div class="content container-fluid">

    <div class="container py-2">

        <h1>Upload files, share with others, keep them safe.</h1>
        <h3>Create an account now</h3>

        <div class="container w-75">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-8 col-lg-6 col-xl-4">
                    {{ form(form) }}
                </div>
            </div>
        </div>

    </div>



</div>



{% endblock %}