{% extends 'layouts/layout.html.twig' %}

{% block title %}
Your file panel
{% endblock %}

{% block content %}

    <div class="content container-fluid">

        <div class="row h-100">

            <div class="col-sm-3 p-3" style="background-color: #a6c9ff;">
                    <h4>Welcome {{app.user.email}}!</h4>
                    <hr size="2">
                    <h5>Recent uploads:</h5>
                    <ul>
                        <li>Image.png</li>
                        <li>Text.txt</li>
                        <li>Test.pdf</li>
                    </ul>
            </div>

            <div class="col-sm-9 bg-light text-black">
                <div class="d-flex flex-row-start">
                    <div class="p-4">
                        <form method="post" id="uploadForm">
                            <label for="fileUpload" class="btn btn-primary">
                                Upload file
                            </label>
                            <input id="fileUpload" type="file" name="fileUpload"/>
                        </form>
                    </div>
                    {% for file in files %}
                        <div class="px-2">
                            <i class="bi bi-file-text"></i>
                            <p>{{file.name}}.{{file.extension}}</p>
                            <p>Size: {{file.size}}Kb</p>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>


    </div>


{% endblock %}