.content{
    background-color: #88a8db;
    height: 800px;
    text-align: center;
}
.form-block{
    background-color: #ffffffb6;
    border: 2px solid rgba(0, 0, 0, 0.575);
    border-radius: 5px;
}
.form-control{
    border-color: black;
    z-index: 1;
}
input[type="file"]{
    display: none;
}
.custom-file-upload{
    border: 1px solid rgb(0, 0, 0);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
