@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
.content{
    background-color: #88a8db;
    height: 800px;
    max-height: 1000px;
    text-align: center;
}
.home-panel-block{
    height: 300px;
    max-height: 400px;
}
.form-block{
    background-color: #ffffffb6;
    border: 2px solid rgba(0, 0, 0, 0.575);
    border-radius: 5px;
}
.form-control{
    border-color: black;
    z-index: 1;
}
input[type="file"]{
    display: none;
}
.custom-file-upload{
    border: 1px solid rgb(0, 0, 0);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.bi-file-text{
    font-size: 4em;
}
.input-file-name{
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(0, 185, 108);
}
.user-sidebar{
    background-color: #5c99f5;
}
a:link{
    text-decoration: none;
}
.CodeMirror{
    text-align: left;
}